.product-page-header {
    width: 1323px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .product-title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.38;
    color: #111827;
  }
  
  .header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* --- SortSelect--- */
  .sort-by-container {
    width: 179px;
    height: 40px;
  }
  
  .sort-select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #565656;
    
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    outline: none;
    
    background-repeat: no-repeat;
    background-position: right 10.75px center;
    background-size: 9.68px 6px;
    padding-left: 22.2px;
    cursor: pointer;
    
    line-height: 38px;
    vertical-align: middle;
  }
  
  .add-product-btn-primary {
    width: 133px !important;
    height: 40px !important;
    padding: 0 !important; 
  }