.sort-select-container {
  position: relative;
  width: 180px; 
  font-family: 'Inter', sans-serif;
}


.sort-select-selected {
  width: 180px;
  height: 40px; 
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
}

.arrow-svg {
  width: 10px;
  height: 6px;
}

.sort-select-options {
  position: absolute;
  top: 42px; 
  left: 0;
  z-index: 999;
  width: 180px;
  height: 121px;
  background: #FFFFFF;
  opacity: 1;
  
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 

  margin: 0;
  padding: 8px 0;
  list-style: none;
  box-sizing: border-box;
  overflow-y: hidden; 
}

.sort-option-item {
  position: relative;
  height: 35px; 
  display: flex;
  align-items: center;
  padding-left: 40px; 
  cursor: pointer;
  font-size: 14px;
  color: #000;
  transition: background 0.2s;
}

.sort-option-item:hover {
  background-color: #F9FAFB;
}

.check-svg {
  position: absolute;
  left: 15px;
  width: 12px;
  height: 12px;
}

.option-text {
  white-space: nowrap;
}