/* CartSummary.css */
.cart-modal-footer {
    width: 100%;
    /* padding: 32px 40px; */
    background-color: #FFFFFF;
    box-sizing: border-box;
  }

  .promo-container {
    width: 100%;        
    min-height: 180px;    
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .promo-section {
    width: 100%;
    height: 80px;

    border-radius: 4px;

    margin-bottom: 16px;
    padding: 32px 40px;
  }
  
  .promo-label {
    display: block;
    font-size: 14px;
    color: #6B7280; 
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  .promo-row {
    display: flex;
    gap: 12px;
    height: 48px;
  }
  
  .promo-input-field {
    flex: 1;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 14px;
    outline: none;
  }
  
  .promo-input-field:focus {
    border-color: #5048E5;
  }
  
  .checkout-box {
    width: 100%;
    border-width: 1px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 4px 0px 4px 0px #00000040;

  }
  
  .summary-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #111827;
    padding: 0 20px;
  }
  
  .amount {
    font-weight: 500;
    color: #111827; 
  }

  
  .checkout-btn-container {
    width: 100%;
    display: flex;         
    justify-content: center;  
    align-items: center;      
    /* margin-top: 4px; */
  }
  
  .checkout-btn-container button {
    width: 90%; 
    height: 48px; 
    border-radius: 4px;
    margin: 0 !important;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
  }