.page-footer {
    width: 100%;
    /* max-width: 1440px; */
    height: 85px;
    background: #111827;
    position: relative;
    border: none;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 1210px;
}

  .footer-content {
    width: 100%;
    max-width: 1323px; 
    height: 80px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;
  }
  
  .footer-copyright {
    width: 222px;
    height: 24px;
    top: 30px;         
    left: 64px;        
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    font-size: 16px;    
    line-height: 28px;  
    color: #FFFFFF;
    
    flex-shrink: 0; 
    white-space: nowrap;
  }
  
  
  .footer-social-group {
    position: absolute;
    width: 86px;
    height: 20px;
    top: 34px;          
    left: 677px;       
    display: flex;
    align-items: center;
    gap: 12px;      
    
    flex-shrink: 0;
  }
  
  .social-icon.youtube { width: 22px; height: 15.5px; }
  .social-icon.twitter { width: 20px; height: 16.3px; }
  .social-icon.facebook { width: 20px; height: 20px; }
  
  .footer-right-container {
    width: 288px;
    height: 24px;
    top: 33px;          
    /* left: 1088px;      */
    right: 64px;
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    flex-shrink: 0;
  }
  
  
  .footer-link {
    top: 0;             
    color: #FFFFFF;     
    text-decoration: none;
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    font-size: 16px;    
    line-height: 28px;  

    white-space: nowrap;
  }
  
  .contact-link {
    left: 0;            
    width: 92px;        
  }
  
  .privacy-link {
    left: 108px;        
    width: 126px;       
  }
  
  .help-link {
    left: 250px;        
    width: 38px;       
  }