.select-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .select-wrapper {
    position: relative;
    width: 100%;
    height: 56px;
  }
  
  .custom-select {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: #111827;
    background-color: #FFFFFF;
    outline: none;
  
    appearance: none; 
    cursor: pointer;
  }
  
  .select-arrow-icon {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 25px; 
    right: 15px;
    pointer-events: none; 
  }