
.create-product-page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  
  .form-main-layout {
    width: 660px;         
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    position: static;
    width: 660px;
    height: 839px;
    margin-top: 24px;
  }
  
  .create-product-title {
    position: absolute; 
    width: 430px;       
    height: 44px;       
    top: 128px;         
    left: 390px;       
    margin-bottom: 12px; 
    
    position: static;    
    text-align: left;
    margin: 0;          
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    color: #111827;
    text-align: left;       
  }
  
  .form-card {
    width: 100%;        
    height: 100%;       
    background-color: #FFFFFF;
    border-radius: 4px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 40px 48px; 
    display: flex;
    flex-direction: column;
  }
  
  .product-name-group {
    width: 564px;          
    height: 88px;         
    display: flex;
    flex-direction: column;
    gap: 8px;              
    margin: 0 auto 24px;
  }
  
  .input-label {
    font-family: 'Inter';
    font-weight: 600;      /* Semi Bold */
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
  
    width: auto;
    height: 24px;
    display: block;
  }


  .product-name-input {
    width: 100%; 
    box-sizing: border-box; 
  
    height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 16px;
    outline: none;
    background-color: #FFFFFF;
    color: #111827;
    appearance: textfield;
  }
  
  .product-name-input::placeholder {
    font-family: 'Inter';
    font-weight: 400;     
    font-size: 16px;      
    line-height: 24px;    
    color: #9CA3AF;  
    opacity: 1; 
  }
  
  .product-description-group {
    width: 564px;          
    height: 167px;         
    display: flex;
    flex-direction: column;
    gap: 8px;              
    margin: 0 auto 24px;
  }
  
  .textarea-wrapper{
    position: relative;          
    width: 564px;               
    height: 135px;             
    border: 1px solid #cccccc;  
    border-radius: 4px;          
    background: #ffffff;
    overflow: hidden;
  }
  
  .product-textarea {
    width: 564px;
    height: 100%;
    border: none;         
    outline: none;         
    resize: none;       
    padding: 12px;        
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .corner {
    position: absolute;
    width: 10.39px;      
    height: 9.95px;      
    right: 2px;          
    bottom: 3px;
    overflow: hidden;    
    pointer-events: none;
    z-index: 10;
  }
  
  
  .svg-line-long, .svg-line-short {
    position: absolute;
    display: block;
  }
  
  .svg-line-long {
    width: 10.27px; 
    top: -0.2px;
    left: -0.2px;
  }
  
  
  .svg-line-short {
    width: 5.8px;
    top: 5.2px;            
    left: 5.2px;        
  }
  
  .input-row {
    display: flex;
    gap: 8px;       
    width: 564px;       
  }
  
  .category-group {
    width: 278px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .select-wrapper {
    position: relative;
    width: 278px;
    height: 56px; 
  }
  
  .product-select {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 12px; 
    font-size: 16px;
    color: #111827;
    appearance: none;    
    background-color: #FFFFFF;
    outline: none;
  }
  
  .select-arrow-icon {
    position: absolute;
    width: 9px;
    height: 6px;
    top: 25px;   
    right: 15px; 
    
    pointer-events: none;
  }
  
  .price-group {
    width: 278px;
    height: 88px;       
    display: flex;
    flex-direction: column;
    gap: 8px;         
  }
  
  .product-input {
    width: 278px;      
    height: 56px;     
    border: 1px solid #CCCCCC; 
    border-radius: 4px; 
    padding: 0 12px;
    font-size: 16px;
    outline: none;
    background-color: #FFFFFF;
    color: #111827;
    box-sizing: border-box;
    appearance: textfield;
  }
  
  .product-input::-webkit-outer-spin-button,
  .product-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input-row.second-row {
    display: flex;
    width: 564px;
    gap: 11px;          
    margin-top: 24px;   
  }
  
  .quantity-group {
    width: 196px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .quantity-group .product-input {
    width: 196px;      
    height: 56px;
  }
  
  .image-group {
    width: 357px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .input-with-button {
    position: relative;
    width: 357px; 
    height: 56px;
  }
  
  .upload-button {
    position: absolute;
    width: 80px;       
    height: 39px;       
    /* (56px - 39px) / 2 = 8.5px  */
    top: 8.5px;         
    right: 14px;        /* 1002 - 988 */
    
    background: #5048E5; 
    border-radius: 4px;  
    border: none;
    
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;    
    font-size: 14px;
    line-height: 138%;
    cursor: pointer;
  }

  .upload-button:hover {
    background: #4038c7;
  }

  .upload-button:active {
    transform: scale(0.98); 
  }
  
  .image-group .product-input {
    width: 100%;
    padding-right: 100px;
  }
  
  
  .image-preview-container {
    width: 564px;       
    display: flex;
    justify-content: center; 
    margin-top: 22px;   
  }
  
  .image-preview-box {
    width: 388px;
    height: 200px;
    background-image: url('../../assets/dash-line.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
    border: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  
  .preview-icon {
    width: 40px;        
    height: 40px;       
  }
  
  
  .preview-text {
    width: 116px;       
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;   
    font-size: 16px;    
    line-height: 24px;  
    
    color: #6B7280;    
    text-align: center;
  }
  
  .form-submit-row {
    width: 564px;      
    margin-top: 18px;   
    display: flex;
    justify-content: flex-start; 
  }
  
  .add-product-btn {
    width: 133px;       
    height: 40px;     
    
    background: #5048E5; 
    border-radius: 4px; 
    border: none;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    color: #FFFFFF;     
    font-family: 'Inter', sans-serif;
    font-weight: 700;    
    font-size: 14px;    
    line-height: 138%;  
    letter-spacing: 0px;
    
    transition: background 0.2s ease;
  }
  
  .add-product-btn:hover {
    background: #4038c7;
  }
  
  .add-product-btn:active {
    transform: scale(0.98); 
  }