
.create-product-page {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  
  .form-main-layout {
    width: 660px;         
    display: flex;
    flex-direction: column;
  }
  
  /* .content-wrapper {
    width: 660px;
    height: 839px;
    margin-top: 24px;
  } */
  
  .create-product-title {
    width: 430px;       
    height: 44px;       
    top: 128px;         
    left: 390px;       
    margin-bottom: 12px;   
    text-align: left;
    margin: 0;          
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    color: #111827;
    text-align: left;       
  }
  
  .form-card {
    width: 100%;        
    height: 100%;       
    background-color: #FFFFFF;
    border-radius: 4px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 40px 48px; 
    display: flex;
    flex-direction: column;
  }
  
  .product-name-group {
    width: 564px;          
    height: 88px;         
    display: flex;
    flex-direction: column;
    gap: 8px;              
    margin: 0 auto 24px;
  }
  
  .product-description-group {
    width: 564px;          
    height: 167px;         
    display: flex;
    flex-direction: column;
    gap: 8px;              
    margin: 0 auto 24px;
  }
  
  .input-row {
    display: flex;
    gap: 8px;       
    width: 564px;       
  }
  
  .price-group {
    width: 278px;
    height: 88px;       
    display: flex;
    flex-direction: column;
    gap: 8px;         
  }
  
  .quantity-group {
    width: 196px;     
    flex: 0 0 196px;  
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .image-group {
    width: 357px;   
    flex: 0 0 357px;  
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .input-row.second-row {
    display: flex;
    width: 564px;
    gap: 11px;
    margin-top: 24px;
    align-items: flex-end; 
  }

  
  .form-submit-row {
    width: 564px;      
    margin-top: 18px;   
    display: flex;
    justify-content: flex-start; 
  }
  
  .add-product-btn {
    width: 133px; 
    height: 40px;
    font-size: 14px;
  }