.product-card {
  width: 100%; 
  height: 303px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 12px 12px 12px; 
}

.product-image-container {
  width: 218px;
  height: 198px;
  background: #FFFFFF;
  flex-shrink: 0;
}

.product-info-box {
  width: 191px;
  height: 45px;
  margin-top: 6px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

/* 按钮区域布局 */
.card-button-group {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-add-btn {
  width: 110px !important;
}

.card-edit-btn {
  width: 102px !important;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.card-clickable-area {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card-clickable-area:hover .product-name {
  color: #5048E5;
  text-decoration: underline;
}

.card-clickable-area:hover img {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}