.form-page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 120px; 
    padding-bottom: 60px;
    background-color: #F9FAFB;
  }
  
  .form-main-layout {
    width: 660px;
  }
  

  .page-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.38;
    color: #111827;
    margin-bottom: 24px;
    text-align: left;
  }
  
  .custom-input::placeholder,
  .custom-textarea::placeholder,
  .custom-select {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }