* {
  margin: 0;
  padding: 0;
  /*This ensures padding doesn't make elements wider than expected */
  box-sizing: border-box; 
}

/* 2. Global Body Styles */
body {
  background-color: #F9FAFB;
  /* Use a clean, modern font family */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
 
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1443px;
  /* overflow-x: hidden; */
  overflow-x: auto;
}
body {
  position: relative;
}


/* 3. React Root Setup */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width:100%;
  min-width: 500px;

}

/* --- Global Page Layouts --- */
.form-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: #F9FAFB; /* Optional: light background to contrast the white card */
}

.form-main-layout {
  width: 660px; /* The master width for both title and form card */
}

/* --- Global Typography --- */
.page-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  color: #111827;
  margin-bottom: 24px;
  text-align: left;
}

