.image-preview-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
  
  .preview-box {
    width: 100%;
    max-width: 388px;
    height: 200px;

    background-image: url('../../../assets/dash-line.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .preview-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }
  
  .preview-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #6B7280;
    text-align: center;
  }

  .uploaded-preview-img {
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    padding: 10px; 
    box-sizing: border-box;
  }